<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.algotrader</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/developer/.pyenv/versions/3.12.3/bin/python3</string>
        <string>-u</string>
        <string>/Users/developer/projects/algo-trader/backend/worker.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/developer/projects/algo-trader</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/developer/projects/algo-trader/worker_output.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/developer/projects/algo-trader/worker_error.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PYTHONPATH</key>
        <string>.</string>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/developer/.pyenv/shims</string>
        <key>HOME</key>
        <string>/Users/developer</string>
    </dict>
</dict>
</plist>
